openapi: '3.0.0'
servers:
  - url: 'https://api-prod.surfsight.net/{apiVersion}'
    description: 'The production API server.'
    variables:
      apiVersion:
        default: 'v2'
        enum:
          - 'v2'
info:
  version: '2.0.0'
  title: 'Surfsight API'
  contact:
    email: 'support@surfsight.com'
tags:
  - name: 'Alarms'
    description: 'Everything about alarm endpoints.'
  - name: 'Audit logs'
    description: 'Everything about audit log endpoints.'
  - name: 'Authentication'
    description: 'Everything about authentication endpoints.'
  - name: 'Devices'
    description: 'Everything about device endpoints.'
  - name: 'Device Operations'
    description: 'Everything about device operation endpoints.'
  - name: 'Events'
    description: 'Everything about event endpoints.'
  - name: 'Geofences'
    description: 'Everything about geofence endpoints.'
  - name: 'Groups'
    description: 'Everything about group endpoints.'
  - name: 'Health'
    description: 'Everything about health endpoints.'
  - name: 'Organizations'
    description: 'Everything about organization endpoints.'
  - name: 'Partner Operation Statistics'
    description: 'Everything about partner operational statistic endpoints.'
  - name: 'Partners'
    description: 'Everything about partner endpoints.'
  - name: 'Recordings'
    description: 'Everything about recording endpoints.'
  - name: 'Streaming'
    description: 'Everything about streaming endpoints.'
  - name: 'Telemetry'
    description: 'Everything about telemetry endpoints.'
  - name: 'Users'
    description: 'Everything about user endpoints.'
  - name: 'Virtual Event'
    description: 'Everything about virtual event endpoints.'
  - name: 'Webhooks'
    description: 'Everything about webhook endpoints.'
paths:
  /authenticate:
    post:
      tags:
        - 'Authentication'
      description: 'Authenticate the user prior to making other API calls. Insert the bearer token obtained from this call in all other API calls in the HTTPS header in the form of authorization\: bearer {token}. The token is valid for twenty-four hours.'
      summary: 'Authenticate: users'
      operationId: 'postAuthenticate'
      requestBody:
        $ref: '#/components/requestBodies/postAuthenticate'
      responses:
        '200':
          $ref: '#/components/responses/postAuthenticate'
        '400':
          $ref: '#/components/responses/badRequestError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/bulk-devices:
    post:
      tags:
        - 'Devices'
      description: 'Add devices in bulk.'
      summary: 'Bulk: add devices'
      operationId: 'postBulkDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postBulkDevices'
      responses:
        '200':
          $ref: '#/components/responses/postBulkDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/device-config:
    put:
      tags:
        - 'Devices'
      description: 'Set device settings in bulk, such as turning the in-cabin facing camera or distracted driver functionality on/off.'
      summary: 'Bulk: configure devices'
      operationId: 'putBulkDeviceConfig'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/putBulkDeviceConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices/{imei}:
    delete:
      tags:
        - 'Devices'
      description: 'Delete a device from an organization.'
      summary: 'Manage: delete device'
      operationId: 'deleteOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices:
    post:
      tags:
        - 'Devices'
      description: 'Add a device to an organization.'
      summary: 'Manage: add device'
      operationId: 'postOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationDevices'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '409':
          $ref: '#/components/responses/conflictError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Devices'
      description: 'Receive a list of all the devices associated with an organization.'
      summary: 'Receive: organization devices'
      operationId: 'getOrganizationDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/groupIdQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/locatedQuery'
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /associated-devices:
    post:
      tags:
        - 'Devices'
      description: 'Receive the IDs of third-party devices associated with your devices.'
      summary: 'Receive: associated devices'
      operationId: 'postAssociatedDevices'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/postAssociatedDevices'
      responses:
        '200':
          $ref: '#/components/responses/postAssociatedDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/devices/calibrate-accelerometer:
    post:
      tags:
        - 'Device Operations'
      description: 'Calibrate single or multiple device accelerometers remotely. The devices must be online.'
      summary: 'Manage: calibrate accelerometers'
      operationId: 'postOrganizationDevicesCalibrateAccelerometer'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationDevicesCalibrateAccelerometer'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationDevicesCalibrateAccelerometer'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/otg-settings:
    post:
      tags:
        - 'Device Operations'
      description: 'Enable or disable OTG for a device. When OTG is enabled, the USB port of the device is enabled. The device must be connected to the cloud service.'
      summary: 'Manage: enable OTG for device'
      operationId: 'postDeviceOtgSettings'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceOtgSettings'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/format-storage:
    get:
      tags:
        - 'Device Operations'
      description: 'Format the device SD card. The device must be connected to the cloud service.'
      summary: 'Manage: format SD card'
      operationId: 'getDeviceFormatStorage'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceFormatStorage'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/reboot:
    post:
      tags:
        - 'Device Operations'
      description: 'Reboot the device. The device must be connected to the cloud service.'
      summary: 'Manage: reboot device'
      operationId: 'postDeviceReboot'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceReboot'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/wakeup:
    post:
      tags:
        - 'Device Operations'
      description: 'Wake the device up from standby mode.'
      summary: 'Manage: wake up device'
      operationId: 'postWakeupDevice'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postWakeupDevice'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/data-usage:
    get:
      tags:
        - 'Device Operations'
      description: 'Receive the data usage of the device.'
      summary: 'Receive: device data usage'
      operationId: 'getDeviceDataUsage'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceDataUsage'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/cameras:
    get:
      tags:
        - 'Devices'
      description:
        'Receive a list of cameras available for live streaming from a device.<br><br>
        1 - road-facing camera, 2 - in-cabin-facing camera, 50+ - auxiliary cameras.<br><br>
        The device must be online.'
      summary: 'Receive: active cameras'
      operationId: 'getDeviceCameras'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameras'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Device Operations'
      description: 'Update the name of an auxiliary camera.'
      summary: 'Update: auxiliary camera name'
      operationId: 'patchDeviceCameras'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/patchDeviceCameras'
      responses:
        '200':
          $ref: '#/components/responses/patchDeviceCameras'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/device-config:
    get:
      tags:
        - 'Devices'
      description: 'Receive a list of the device settings.'
      summary: 'Receive: device settings'
      operationId: 'getDeviceConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Devices'
      description: 'Update the device settings.'
      summary: 'Update: device settings'
      operationId: 'putDeviceConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putDeviceConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}:
    get:
      tags:
        - 'Devices'
      description: 'Receive the device metadata. Only partners can make this call.'
      summary: 'Receive: device metadata'
      operationId: getDevice
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDevice'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Devices'
      description: 'Update a device and its various properties.'
      summary: 'Update: device'
      operationId: 'patchDevice'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/patchDevice'
      responses:
        '200':
          $ref: '#/components/responses/patchDevice'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations:
    post:
      tags:
        - 'Organizations'
      description: 'Create a new organization. Only partners can make this call.'
      summary: 'Manage: create organization'
      operationId: 'postOrganization'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/postOrganization'
      responses:
        '200':
          $ref: '#/components/responses/postOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Organizations'
      security:
        - bearerAuth: []
      description: 'Receive a list of the organizations belonging to the current authenticated entity.'
      summary: 'Receive: list of organizations'
      operationId: 'getOrganizations'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizations'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/sso:
    get:
      tags:
        - 'Organizations'
      security:
        - bearerAuth: []
      description: |
        Request a user token to authenticate the organization. A valid JWT token must be provided in the authorization header.
        Insert the token obtained from this call in your other calls in the https header in the form of authorization: Bearer {token}.<br><br>
        Only partners can make this call.
      summary: 'Receive: organization SSO'
      operationId: 'getOrganizationSso'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationSso'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}:
    get:
      tags:
        - 'Organizations'
      description: 'Receive the details of an organization.'
      summary: 'Receive: organization details'
      operationId: 'getOrganization'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Organizations'
      description: 'Update an organization and its properties. Only partners can make this call.'
      summary: 'Update: organization'
      operationId: 'patchOrganization'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/patchOrganization'
      responses:
        '200':
          $ref: '#/components/responses/patchOrganization'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/users:
    post:
      tags:
        - 'Users'
      security:
        - bearerAuth: []
      description: 'Create a user within an organization.'
      summary: 'Manage: create user'
      operationId: postOrganizationUsers
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationUsers'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationUsers'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partners/{partnerId}/contacts/{partnerContactId}:
    delete:
      tags:
        - 'Partners'
      description: 'Delete a partner contact.'
      summary: 'Manage: delete partner contact'
      operationId: 'deletePartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
        - $ref: '#/components/parameters/partnerContactIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deletePartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    patch:
      tags:
        - 'Partners'
      description: 'Edit the partner contact.'
      summary: 'Manage: edit partner contact'
      operationId: 'patchPartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
        - $ref: '#/components/parameters/partnerContactIdPath'
      responses:
        '200':
          $ref: '#/components/responses/patchPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partners/{partnerId}/contacts:
    post:
      tags:
        - 'Partners'
      description: 'Create a new partner contact.'
      summary: 'Manage: create partner contact'
      operationId: 'postPartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postPartnerContacts'
      responses:
        '200':
          $ref: '#/components/responses/postPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Partners'
      description: 'Receive a list of partner contacts'
      summary: 'Receive: partner contacts'
      operationId: 'getPartnerContacts'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partner-contacts:
    get:
      tags:
        - 'Partners'
      description: "Receive a list of partner contacts, along with the partner's own details."
      summary: 'Receive: partner and contacts'
      operationId: 'getCurrentPartnerContacts'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/getCurrentPartnerContacts'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /me:
    get:
      tags:
        - 'Partners'
        - 'Users'
      description: "Receive the current authenticated entity's information."
      summary: 'Receive: personal information'
      operationId: 'getMe'
      security:
        - bearerAuth: []
      responses:
        '200':
          $ref: '#/components/responses/getMe'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/cameras/{cameraId}/snapshot:
    get:
      tags:
        - 'Recordings'
      description: 'Receive a snapshot from a specific camera. The snapshot captures a picture of the camera’s current view. The camera must be online.'
      summary: 'Receive: camera snapshot'
      operationId: 'getDeviceCameraSnapshot'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/cameraIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameraSnapshot'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/recording-ranges:
    get:
      tags:
        - 'Recordings'
      description: 'Receive a list of available recordings from every camera of a device in a given time range.'
      summary: 'Receive: recordings availability'
      operationId: 'getDeviceRecordingRanges'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceRecordingRanges'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/retention-config:
    get:
      tags:
        - 'Recordings'
      description: 'Receive the cyclic recording retention time, in minutes, for each camera of a device. The cyclic retention time is the amount of time that recordings are kept on the SD card before the first recording is removed to make space for a new recording.'
      summary: 'Receive: recording retention time'
      operationId: 'getDeviceRetentionConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceRetentionConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Recordings'
      description:
        'Update the cyclic recording retention time, in minutes, for each camera of a device. The cyclic retention time is the amount of time that recordings are kept on the SD card before the first recording is removed to make space for a new recording.<br><br>
        The retention time set from this call is saved even when the device is reset.'
      summary: 'Update: recording retention time'
      operationId: 'putDeviceRetentionConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putDeviceRetentionConfig'
      responses:
        '200':
          $ref: '#/components/responses/putDeviceRetentionConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/virtual-event:
    post:
      tags:
        - 'Virtual Event'
      description: >
        Generate a virtual event, where media (a video or an image)
        is uploaded to the cloud. If the "cameraId" parameter is used, the
        event will only have media from that camera.
      summary: 'Manage: generate virtual event'
      operationId: 'postVirtualEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/postVirtualEvent'
      responses:
        '200':
          $ref: '#/components/responses/postVirtualEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/event-config:
    put:
      tags:
        - 'Events'
      description: 'Set the events settings in bulk for devices. Provide either a list of IMEIs or group IDs.'
      summary: 'Bulk: configure events settings'
      operationId: 'putBulkEventConfig'
      security:
        - bearerAuth: []
      requestBody:
        $ref: '#/components/requestBodies/putBulkEventConfig'
      responses:
        '200':
          $ref: '#/components/responses/putBulkEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/events/{eventId}:
    delete:
      tags:
        - 'Events'
      description: 'Delete an event.'
      summary: 'Manage: delete event'
      operationId: 'deleteDeviceEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/eventIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteDeviceEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Events'
      description: 'Receive an event.'
      summary: 'Receive: event'
      operationId: 'getDeviceEvent'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/eventIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEvent'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/event-file-link:
    get:
      tags:
        - 'Events'
      description:
        'Receive the link to an event file generated by the device. The URL remains active for several minutes to a few hours.<br><br>
        This API can be used in two ways:<br><br>
        1. For events in a given period of time. The files can then be downloaded. All the information required for this call is available in the event object received from the GET /devices/{imei}/events call<br><br>
        2. For virtual events, without using the GET /devices/{imei}/events call. You need additional information, such as the virtual event configuration on your device and the IDs of the cameras connected to the device'
      summary: 'Receive: file link'
      operationId: 'getDeviceEventFileLink'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/fileIdQuery'
        - $ref: '#/components/parameters/fileTypeQuery'
        - $ref: '#/components/parameters/cameraIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEventFileLink'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/events:
    get:
      tags:
        - 'Events'
      description: 'Receive a list of events in a given time range. The retention period for events is thirty days.'
      summary: 'Receive: list of events'
      operationId: 'getDeviceEvents'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceEvents'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/event-config:
    get:
      tags:
        - 'Events'
      description: 'Receive the events settings of a device.'
      summary: 'Receive: events settings'
      operationId: 'getEventConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Events'
      description: 'Set the events settings for a device.'
      summary: 'Set: events settings'
      operationId: 'putEventConfig'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/putEventConfig'
      responses:
        '200':
          $ref: '#/components/responses/putEventConfig'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/geofences:
    put:
      tags:
        - 'Geofences'
      description: 'Set a geofence for a device.'
      summary: 'Manage: set geofence'
      operationId: 'setDeviceGeoFences'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      requestBody:
        $ref: '#/components/requestBodies/setDeviceGeoFences'
      responses:
        '200':
          $ref: '#/components/responses/setDeviceGeoFences'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Geofences'
      description: 'Receive a list of all the configured geofences of a device.'
      summary: 'Receive: list of geofences'
      operationId: 'getDeviceGeoFences'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceGeoFences'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/connect-media:
    post:
      tags:
        - 'Streaming'
      description: |
        Receive the URL to retrieve a recording or live video and the authentication token
        required for the URL. The token is valid for thirty minutes. Make this call again if your device does not start streaming within two minutes.
      summary: 'Prepare: media streaming'
      operationId: 'postDeviceConnectMedia'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/postDeviceConnectMedia'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/{cameraId}/telemetry:
    get:
      tags:
        - 'Telemetry'
      description: >
        Receive the telemetry data of a device's camera.
      summary: 'Receive: camera telemetry data'
      operationId: 'getDeviceCameraTelemetry'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/cameraIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceCameraTelemetry'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/telemetry:
    get:
      tags:
        - 'Telemetry'
      description: >
        Receive the telemetry data of a device. The device must be online.
      summary: 'Receive: device telemetry data'
      operationId: 'getDeviceTelemetry'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceTelemetry'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '417':
          $ref: '#/components/responses/expectationFailedError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/gps:
    get:
      tags:
        - 'Telemetry'
      description: 'Receive the GPS data of a device in a given time range.'
      summary: 'Receive: GPS data'
      operationId: 'getDeviceGps'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceGps'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /devices/{imei}/trips:
    get:
      tags:
        - 'Telemetry'
      description: 'Receive a list of trips for a device in a given time range. The retention period of trips data is thirty days'
      summary: 'Receive: list of trips'
      operationId: 'getDeviceTrips'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/imeiPath'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDeviceTrips'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/groups/{groupId}/devices:
    post:
      tags:
        - 'Groups'
      description:
        'Add devices to a group. Only devices that belong to the associated organization can be added to a group.
        If the device belongs to a different group, it is removed from that group and added to the new group.'
      summary: 'Manage: add devices to group'
      operationId: 'postOrganizationGroupDevices'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/groupIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationGroupDevices'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationGroupDevices'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/groups:
    post:
      tags:
        - 'Groups'
      description: 'Create a new group in an organization.'
      summary: 'Manage: create group'
      operationId: 'postOrganizationGroups'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationGroups'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationGroups'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Groups'
      description: 'Receive a list of all the groups in an organization.'
      summary: 'Receive: list of organization groups'
      operationId: 'getOrganizationGroups'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationGroups'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /audit-logs:
    get:
      tags:
        - 'Audit logs'
      description: 'Receive the audit logs of an organization.'
      summary: 'Receive: organization audit logs'
      operationId: 'getAuditLogs'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/startQuery'
        - $ref: '#/components/parameters/endQuery'
        - $ref: '#/components/parameters/userIdQuery'
        - $ref: '#/components/parameters/partnerIdQuery'
        - $ref: '#/components/parameters/organizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAuditLogs'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/webhooks/{webhookId}:
    delete:
      tags:
        - 'Webhooks'
      description: 'Delete a webhook from an organization.'
      summary: 'Manage: delete webhook'
      operationId: 'deleteOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
        - $ref: '#/components/parameters/webhookIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /organizations/{orgId}/webhooks:
    post:
      tags:
        - 'Webhooks'
      description: 'Add a device to the webhook subscription.'
      summary: 'Manage: add device to webhook subscription'
      operationId: 'postOrganizationWebhook'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postOrganizationWebhook'
      responses:
        '200':
          $ref: '#/components/responses/postOrganizationWebhook'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    put:
      tags:
        - 'Webhooks'
      description: >
        Replace the entire list of devices subscribed to webhooks with a new list of devices.
      summary: 'Manage: replace webhooks subscription devices'
      operationId: 'putOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      requestBody:
        $ref: '#/components/requestBodies/putOrganizationWebhooks'
      responses:
        '200':
          $ref: '#/components/responses/putOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Webhooks'
      description: 'Receive a list of the webhooks configured for an organization.'
      summary: 'Receive: organization webhooks'
      operationId: 'getOrganizationWebhooks'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/orgIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getOrganizationWebhooks'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/health/{recipientId}:
    delete:
      tags:
        - 'Health'
      description: 'Delete an email address to which health reports are sent.'
      summary: 'Manage: delete health report email recipient'
      operationId: 'deleteHealthRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteHealthRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/health:
    post:
      tags:
        - 'Health'
      description: 'Add an email address to which health reports are sent. Emails are sent at a set interval.'
      summary: 'Manage: add health report email recipient'
      operationId: 'postHealthRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      requestBody:
        $ref: '#/components/requestBodies/postHealthRecipient'
      responses:
        '200':
          $ref: '#/components/responses/postHealthRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Health'
      description: 'Receive a list of the email addresses to which health reports are sent. Partners can receive a list of email addresses for a specific organization by providing the organization ID.'
      summary: 'Receive: list of health report email recipients'
      operationId: 'getHealthRecipients'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getHealthRecipients'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /device-health:
    get:
      tags:
        - 'Health'
      description: 'Receive the health reports of your devices. Partners can receive the health reports of a specific organization by providing the organization ID.'
      summary: 'Receive: health reports'
      operationId: 'getDevicesHealth'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/lastConnectedAtStartQuery'
        - $ref: '#/components/parameters/lastConnectedAtEndQuery'
        - $ref: '#/components/parameters/lastRecordingUpdatedAtStartQuery'
        - $ref: '#/components/parameters/lastRecordingUpdatedAtEndQuery'
        - $ref: '#/components/parameters/lastRecordingHealthQuery'
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/deviceHealthSortQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          $ref: '#/components/responses/getDevicesHealth'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}/actions:
    post:
      tags:
        - 'Alarms'
      description: 'Add an action to an alarm. Actions include: "read", "close", "open".'
      summary: 'Manage: add action'
      operationId: 'postAlarmAction'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmAction'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmAction'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}/comments:
    post:
      tags:
        - 'Alarms'
      description: 'Add a comment to an alarm.'
      summary: 'Manage: add comment'
      operationId: 'postAlarmComment'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmComment'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmComment'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/alarms/{recipientId}:
    patch:
      tags:
        - 'Alarms'
      description: 'Update the settings of the alarms report email recipient.'
      summary: 'Manage email recipients: update recipient settings'
      operationId: 'patchAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      requestBody:
        $ref: '#/components/requestBodies/patchAlarmsRecipient'
      responses:
        '200':
          $ref: '#/components/responses/patchAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
    delete:
      tags:
        - 'Alarms'
      description: 'Delete an email address to which the alarms report is sent.'
      summary: 'Manage email recipients: delete recipient'
      operationId: 'deleteAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/recipientIdPath'
      responses:
        '200':
          $ref: '#/components/responses/deleteAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /recipients/alarms:
    post:
      tags:
        - 'Alarms'
      description: 'Add an email address to which alarms reports are sent. Emails are sent at a set interval. Partners can add alarms recipient specific to an organization by providing the organization ID.'
      summary: 'Manage email recipients: add recipient'
      operationId: 'postAlarmsRecipient'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      requestBody:
        $ref: '#/components/requestBodies/postAlarmsRecipient'
      responses:
        '200':
          $ref: '#/components/responses/postAlarmsRecipient'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '500':
          $ref: '#/components/responses/internalServerError'
    get:
      tags:
        - 'Alarms'
      description: 'Receive a list of email addresses to which alarms reports are sent. Partners can receive a list of email addresses from a specific organization by providing the organization ID.'
      summary: 'Receive: alarms report email recipients'
      operationId: 'getAlarmsRecipients'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAlarmsRecipients'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms:
    get:
      tags:
        - 'Alarms'
      description: 'Receive a list of the alarms from your devices. Partners can receive a list of alarms from a specific organization by providing the organization ID.'
      summary: 'Receive: alarms report'
      operationId: 'getAlarms'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/limitQuery'
        - $ref: '#/components/parameters/offsetQuery'
        - $ref: '#/components/parameters/partnerOrganizationIdQuery'
        - $ref: '#/components/parameters/imeiQuery'
        - $ref: '#/components/parameters/nameQuery'
        - $ref: '#/components/parameters/alarmDefinitionNameQuery'
        - $ref: '#/components/parameters/alarmDefinitionSeverityQuery'
        - $ref: '#/components/parameters/readFilterQuery'
        - $ref: '#/components/parameters/unreadFilterQuery'
        - $ref: '#/components/parameters/openFilterQuery'
        - $ref: '#/components/parameters/closeFilterQuery'
        - $ref: '#/components/parameters/alarmsSortQuery'
        - $ref: '#/components/parameters/orderQuery'
      responses:
        '200':
          $ref: '#/components/responses/getAlarms'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /alarms/{alarmId}:
    get:
      tags:
        - 'Alarms'
      description: 'Receive the details of an alarm.'
      summary: 'Receive: alarm details'
      operationId: 'getAlarm'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/alarmIdPath'
      responses:
        '200':
          $ref: '#/components/responses/getAlarm'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
  /partners/operational-statistics:
    get:
      tags:
        - 'Partner Operation Statistics'
      description: 'Receive the operational statistics of a partner’s devices and organizations. Only partners can make this call.'
      summary: 'Receive: partner operational statistics'
      operationId: 'getPartnerOperationalStatistics'
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/previousMonthsQuery'
        - $ref: '#/components/parameters/previousWeeksQuery'
      responses:
        '200':
          $ref: '#/components/responses/getPartnerOperationalStatistics'
        '400':
          $ref: '#/components/responses/badRequestError'
        '401':
          $ref: '#/components/responses/unauthorizedError'
        '403':
          $ref: '#/components/responses/forbiddenError'
        '404':
          $ref: '#/components/responses/notFoundError'
        '500':
          $ref: '#/components/responses/internalServerError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  requestBodies:
    putDeviceRetentionConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - config
            properties:
              config:
                $ref: '#/components/schemas/retentionConfig'
    patchDevice:
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              name:
                $ref: '#/components/schemas/deviceName'
    postAuthenticate:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                $ref: '#/components/schemas/email'
              password:
                $ref: '#/components/schemas/password'
    postOrganizationUsers:
      content:
        application/json:
          schema:
            type: object
            required:
              - email
              - password
              - role
            properties:
              email:
                $ref: '#/components/schemas/email'
              password:
                $ref: '#/components/schemas/password'
              role:
                $ref: '#/components/schemas/role'
    postOrganizationDevicesCalibrateAccelerometer:
      content:
        application/json:
          schema:
            type: object
            properties:
              imeis:
                type: array
                description: 'The IMEI numbers of the devices you want to calibrate. The IMEI number can be found on a sticker on the device itself or on the back of the device box.'
                items:
                  $ref: '#/components/schemas/imei'
              groups:
                type: array
                description: 'The group IDs of the device groups you want to calibrate. Obtain group IDs from GET /organizations/{orgId}/devices.'
                items:
                  $ref: '#/components/schemas/groupId'
              ungrouped:
                type: boolean
                description: 'Calibrate any devices that do not belong to a group. Find out which devices do not belong to a group from GET /organizations/{orgId}/devices,'
    postBulkDevices:
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              type: object
              required:
                - imei
                - name
              properties:
                imei:
                  $ref: '#/components/schemas/imei'
                name:
                  $ref: '#/components/schemas/deviceName'
                groupId:
                  $ref: '#/components/schemas/groupId'
    postVirtualEvent:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - time
            properties:
              time:
                description: 'Event date and time, in ISO 8601 format.'
                $ref: '#/components/schemas/time'
              mediaType:
                description: 'The type of media uploaded.'
                type: string
                default: video
                enum:
                  - video
                  - snapshot
              durationSeconds:
                description: 'The length of the video, in seconds. Only applies to the video mediaType.'
                type: number
                minimum: 1
                maximum: 86400
              quality:
                description: 'The quality of of the video.'
                type: string
                enum:
                  - standard
                  - high
              cameraId:
                description: 'The ID of the camera.<br><br>
                  1 - road-facing camera, 2 - in-cabin-facing camera, 50+ - auxiliary cameras.'
                type: number
              metadata:
                description: 'The metadata of the event.'
                type: string
    putBulkEventConfig:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/putBulkEventConfigImeis'
              - $ref: '#/components/schemas/putBulkEventConfigGroups'
    putEventConfig:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/eventConfig'
    putDeviceConfig:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/deviceConfig'
    putBulkDeviceConfig:
      required: true
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/putBulkDeviceConfigOrganization'
              - $ref: '#/components/schemas/putBulkDeviceConfigImeis'
    setDeviceGeoFences:
      required: true
      content:
        application/json:
          schema:
            type: array
            description: 'The geofence event configurations array.'
            items:
              $ref: '#/components/schemas/geofence'
    postAssociatedDevices:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              imeis:
                type: array
                description: 'The IMEI numbers. The IMEI number can be found on a sticker on the device itself or on the back of the device box.'
                items:
                  $ref: '#/components/schemas/imei'
    postPartnerContacts:
      required: true
      content:
        application/json:
          schema:
            allOf:
              - $ref: '#/components/schemas/partnerContact'
              - type: object
                required:
                  - password
                properties:
                  password:
                    $ref: '#/components/schemas/password'
    postOrganizationDevices:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/device'
    postOrganizationGroups:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/groupToCreate'
    postOrganizationGroupDevices:
      required: true
      content:
        application/json:
          schema:
            type: array
            description: 'The IMEI numbers of devices that are added
              to the group array. If any devices already belong to other groups,
              they are removed from the original groups.'
            items:
              $ref: '#/components/schemas/imei'
    postOrganizationWebhook:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/webhook'
    putOrganizationWebhooks:
      required: true
      content:
        application/json:
          schema:
            type: array
            description: 'The webhooks array.'
            items:
              $ref: '#/components/schemas/webhook'
    postOrganization:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - name
            properties:
              name:
                type: string
                description: 'The name you assign to the organization.'
    patchOrganization:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              name:
                $ref: '#/components/schemas/organizationName'
              purgeDays:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysFrontCamera:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysRearCamera:
                $ref: '#/components/schemas/organizationPurgeDays'
              purgeDaysAuxiliaryCameras:
                $ref: '#/components/schemas/organizationPurgeDays'
    patchDeviceCameras:
      description: 'A list of objects containing auxiliary camera IDs and names.'
      required: true
      content:
        application/json:
          schema:
            type: array
            description: 'The auxiliary cameras array.'
            uniqueItems: true
            minItems: 1
            maxItems: 10
            items:
              type: object
              required:
                - cameraId
                - name
              properties:
                cameraId:
                  $ref: '#/components/schemas/cameraId'
                name:
                  type: string
                  description: 'The name you assign to the auxiliary camera.'
                  minimum: 1
                  maximum: 191
                  nullable: true
    postHealthRecipient:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/healthRecipient'
    postAlarmAction:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmAction'
    postAlarmComment:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmComment'
    postAlarmsRecipient:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/alarmsRecipient'
    patchAlarmsRecipient:
      required: true
      content:
        application/json:
          schema:
            type: object
            description: 'Update alarms report email recipients object.'
            properties:
              reportIntervalSeconds:
                $ref: '#/components/schemas/alarmsReportIntervalSeconds'
              alarmDefinitions:
                type: array
                description: 'The alarm definitions array.'
                items:
                  type: object
                  required:
                    - id
                  properties:
                    id:
                      type: number
                      description: 'The ID of the alarm definition.'
                      example: 625
  responses:
    patchDeviceCameras:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postAuthenticate:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: object
                description: 'The authentication response object.'
                properties:
                  token:
                    $ref: '#/components/schemas/token'
                  organizationId:
                    $ref: '#/components/schemas/organizationId'
    postOrganizationDevicesCalibrateAccelerometer:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    patchDevice:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getDevice:
      description: 'Receive the device metadata.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - requestId
            properties:
              data:
                allOf:
                  - $ref: '#/components/schemas/extendedDevice'
                  - type: object
                    required:
                      - organiazationId
                    properties:
                      organizationId:
                        $ref: '#/components/schemas/organizationId'
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    putDeviceRetentionConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getDeviceRetentionConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                description: 'The recording retention time response object.'
                required:
                  - config
                properties:
                  config:
                    $ref: '#/components/schemas/retentionConfig'
    getDeviceCameras:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description: 'The receive active cameras response array.'
                items:
                  type: object
                  properties:
                    cameraId:
                      $ref: '#/components/schemas/cameraId'
    getDeviceCameraSnapshot:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: string
                description: 'The URL from which to download the requested snapshot.'
                example: 'https://sample.s3.aws.com/123/123.mp4?access_key=1234'
    getDeviceDataUsage:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceDataUsage'
    postWakeupDevice:
      description: 'Successful operation'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getDeviceRecordingRanges:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description: 'The receive recordings availability response array.'
                items:
                  $ref: '#/components/schemas/cameraRangeObject'
    deletePartnerContacts:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    patchPartnerContacts:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postPartnerContacts:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/extendedPartnerContact'
    postVirtualEvent:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    putBulkEventConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    putEventConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getEventConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                title: 'Events configuration object'
                description: 'The events settings configuration of the device object.'
                type: object
                required:
                  - vehicleType
                  - events
                properties:
                  vehicleType:
                    $ref: '#/components/schemas/vehicleType'
                  events:
                    type: array
                    description: 'The enabled events array. Any event types that are not in this list are disabled.'
                    items:
                      $ref: '#/components/schemas/eventObject'
    putDeviceConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getDeviceConfig:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceConfig'
    postBulkDevices:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The bulk add devices response array.'
                properties:
                  accepted:
                    type: array
                    description: 'A list of the device IMEIs that are accepted.'
                    items:
                      $ref: '#/components/schemas/imei'
                  rejected:
                    type: array
                    description: 'A list of the device IMEIs that are rejected.'
                    items:
                      $ref: '#/components/schemas/imei'
    postDeviceReboot:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postDeviceOtgSettings:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - enabled
            properties:
              enabled:
                description: 'If OTG is enabled for the device or not.'
                type: boolean
    postAssociatedDevices:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive list of associated devices response object.'
                type: array
                items:
                  $ref: '#/components/schemas/associatedDevices'
    getDeviceFormatStorage:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postDeviceConnectMedia:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/connectMedia'
    getDeviceEvents:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive list of events response array.'
                type: array
                items:
                  $ref: '#/components/schemas/event'
    getDeviceEvent:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/event'
    deleteDeviceEvent:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/eventDeleted'
    getDeviceGeoFences:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive list of geofences response array.'
                type: array
                items:
                  $ref: '#/components/schemas/geofence'
    setDeviceGeoFences:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getDeviceEventFileLink:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive link to file response object.'
                type: object
                required:
                  - url
                properties:
                  url:
                    type: string
                    description: 'The URL from which to download the requested file.'
                    example: 'https://sample.s3.aws.com/123/123.mp4?access_key=1234'
    getDeviceTrips:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive list of trips response array.'
                type: array
                items:
                  $ref: '#/components/schemas/trip'
    getDeviceGps:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description: 'The receive GPS data response array.'
                items:
                  $ref: '#/components/schemas/gpsPoint'
    getDeviceTelemetry:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceTelemetry'
    getDeviceCameraTelemetry:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/deviceCameraTelemetry'
    getOrganizationDevices:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive organization devices response array.'
                type: array
                items:
                  $ref: '#/components/schemas/extendedDevice'
              metadata:
                $ref: '#/components/schemas/metadata'
    getOrganizationSso:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - token
            properties:
              token:
                description: 'The authentication token. Insert in the authorization header of other API calls. Valid for twenty four hours.'
                type: string
    getOrganizations:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive list of organizations response array.'
                type: array
                items:
                  $ref: '#/components/schemas/extendedOrganization'
    getMe:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive personal information response object.'
                type: object
                required:
                  - me
                  - entity
                properties:
                  me:
                    description: 'The personal information object.'
                    oneOf:
                      - $ref: '#/components/schemas/partner'
                      - $ref: '#/components/schemas/user'
                  entity:
                    $ref: '#/components/schemas/entity'
    getOrganization:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                $ref: '#/components/schemas/extendedOrganization'
    getAuditLogs:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
              - metadata
            properties:
              data:
                description: 'The receive organization audit logs response array.'
                type: array
                items:
                  $ref: '#/components/schemas/auditLog'
              metadata:
                $ref: '#/components/schemas/metadata'
    getOrganizationGroups:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - data
            properties:
              data:
                description: 'The receive organization groups response array.'
                type: array
                items:
                  $ref: '#/components/schemas/group'
    postOrganizationDevices:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postOrganizationGroups:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postOrganizationGroupDevices:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    postOrganization:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            description: 'The create new organization response object.'
            type: object
            required:
              - organizationId
              - ssoSecret
            properties:
              organizationId:
                $ref: '#/components/schemas/organizationId'
              ssoSecret:
                type: string
                description: >
                  The SSO secret verifies the authenticity of HTTP post events subscribed to this organization.<br><br>
                  The X-Surfsight-Signature Header is added to every HTTP post sent for subscriptions.<br><br>
                  This signature is dependent on the destination URL, ssoSecret, and the content of the request body. Every request signature is unique.<br><br>
                  You can verify the authenticity of the HTTP post by creating the same signature and comparing the result with the X-Surfsight-Signature Header as shown below.<br><br>
                  The signature is created with the Hmac – sha512 algorithm, applied directly on the ssoSecret, cyphered/encoded with a stringified request body + destination URL, and converted to hexa-decimal encoding.<br><br>
                  For example, using the crypto package:<br><br>
                  Signature = crypto.createHmac(sha512, mySsoSecret).update(Json.stringify(request.body) + URL ).digest(hex)<br><br>
                  The outcome for ‘Signature’ should look like:<br><br>
                  29c4198c5e3da799887deaf0b0450bac8880efc0769cb79b97138ce9888a4308c7211415879152fdc4a14933c77cd4d531e71a29008214360ce340ccf49b87c8<br><br>
                  You can verify the authenticity of the HTTP post by creating the same signature and comparing the result with the X-Surfsight-Signature Header.
    patchOrganization:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    getOrganizationWebhooks:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            description: 'The receive organization webhooks response object.'
            type: object
            required:
              - data
            properties:
              data:
                type: array
                description: 'The webhooks configured for the
                  organization array.'
                items:
                  $ref: '#/components/schemas/webhook'
    postOrganizationWebhook:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
              requestId:
                type: string
                description: 'The ID of the request.'
                example: 'df5fg-45fgfdsg-45fg-45454'
    putOrganizationWebhooks:
      description: 'Successful operation.'
      content:
        application/json:
          schema:
            type: object
            required:
              - requestId
            properties:
[...]
